.navbar {
  /* background-color: var(--color-primary); */
  background-color: #34c94b;
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbar {
  height: 75px;
  width: 100%;
  padding: 12px 24px;
  background: #34c94b;
  color: white;
  font-weight: bold;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar > * {
  height: 90%;
}
.search_bar {
  width: 50%;
  border-radius: 8px;
  background-color: #ffffff;
  color: #121212;
  padding-left: 12px;
} */
